.carbuild
{
 display: inline-flex;
 justify-content: space-between;
padding-bottom: 5%;
cursor: pointer;
 
    
}

.carbuild
{
    height: 10%;
    width: 30%; 
   
    
       

}
.carpicture img{
    height: 90%;
    width: 90%;
}
.carname
{
    padding-bottom: 0%;
}