.imgsize
{
    height: 15%;
    width: 15%;
    border-radius: 30%;
    
    border: 1px solid black;
    
 
   
}
table
{
    /* border: 1px solid black; */
   
    margin-left: -20%;
    width: 100%;
}
